@charset "UTF-8";

body{background-color: #fff;font-family: "微软雅黑","Arial","宋体";font-size: 12px;text-size-adjust: none;margin: 0px;padding: 0px 20px;}
.hide{display: none;}
/*header,table,.tb-toolbar{margin-left: 20px;}*/
/*表格*/
thead {
    background-color: #f6f6f6;
}
.table {
    margin-bottom: 0;
}
/*表格底部*/
.tb-toolbar {
    height: 34px;
    padding: 0 10px;
    background: #f6f6f6;
    text-align: right;
    line-height: 30px;
    border-bottom: 1px solid #E3EFF3;
}
/*add.html form control-group control-label span*/
.maroon {
    color: #D20000;
    padding-left: 2px;
    font-family: "宋体";
}
/*颜色设置*/
.blue {
    color: #1bb0f0;
}

.red {
    color: #f00;
}

.green {
    color: #5aa700;
}

.tangerine {
    color: #f60;
}

.bold {
    font-weight: bold;
}

.fn-clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.fn-clear {
    zoom: 1;
}
/*表格设置*/
.tab-header {
    height: 28px;
    margin: 10px 0;
}

.tab-header .tab-title {
    float: left;
    height: 100%;
    background-color: #40a61a;
    color: white;
    line-height: 28px;
    padding: 0 8px;
    font-size: 14px;
    font-weight: bold;
}

/*图片*/
/*#defaultconver {display: block;width: 270px;height: 270px;}*/
/*新增页面*/
#startDate, #endDate {
    width: 185px;
}

.form .control-label {
    display: inline-block;
}

.form .help-inline {
    margin-bottom: 5px;
}

.vcont {
    word-wrap: break-word;
}
/*活动标题*/
.vcont .vtitle {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}
/*活动描述*/
.vcont .vsummary {
    margin: 5px 0px;
}
/*投票check*/
.vcont .voption-cont {
    margin: 10px 0px;
    padding: 0 5px;
}

.voption-cont .checkbox {
    border-bottom: 1px solid #CCC;
    margin: 5px 0px;
}
/*选择文件div*/
.cover-area {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    color: #666;
    max-width: 480px;
    padding: 2px 8px;
    width: 390px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
}
/*选择文件包含input*/
.cover-hd {
    padding: 2px 8px 3px;
    position: relative;
}
/*图片尺寸建议*/
.upload-tip {
    color: #666;
    font-size: 12px;
    line-height: 28px;
    text-align: right;
    position: absolute;
    /*top: 3px;*/
    right: 8px;
}
/*p包含图片*/
.cover-bd {
    border-top: 1px solid #ccc;
    font-size: 0;
    overflow: hidden;
    padding: 8px;
}
/*上传图片下img*/
.cover-bd img {
    width: 100px;
    /*height: 60px;*/
}

.cover-del {
    font-size: 14px;
    margin-left: 5px;
}

/*选项 - 删除*/
.del-option{cursor: pointer;}

/*report.html 表格设置*/
.row-fluid{margin-left: 20px;}
 .question-cont {
    margin-bottom: 20px;
}
/*保存 btn*/
#save-btn{cursor: pointer;}
/*report.html*/
.nav-tabs {
    background-color: #434343;
}

.nav-tabs > li {
    margin-top: 2px;
    margin-left: 1px;
}

    .nav-tabs > li > a {
        color: #FFF;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        font-size: 15px;
        padding: 8px 22px;
        font-weight: bold;
    }

    .nav-tabs > li:hover a {
        color: #434343;
    }

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    color: #434343;
}
/*统计表比例*/
.progress {
    width: 200px;
    float: left;
    margin: 0px 10px 5px 0px;
}